 <!--Footer Column-->
<div class="footer-column col-lg-6 col-md-6 col-sm-12">
    <!--Footer Column-->
    <div class="footer-widget recent-posts">
        <h2 class="widget-title">Latest News</h2>
        <!--Footer Column-->
        <div class="widget-content">
            @foreach (var item in @Model.eventList)
            {

                <div class="post">
                    <div class="thumb">
                        <a href="blog-post-image.html">
                            <img src="@Url.Content($"~/Files/events/{item.ImgPath}")"
                                  alt=""
                                  onerror="this.onerror=null;this.src='@Url.Content("~/Theme/images/ImageNotFound2.png")';">
                        </a>
                    </div>
                    <h4><a href="blog-post-image.html">@item.HeaderEn</a></h4>
                    <span class="date">@(item.Date?.ToString("yyyy-MM-dd") ?? "No date available")</span>
                </div>
            }

        </div>
    </div>
</div>